<div style="width: 400px; float: left;">
	<% root_collections.each do |collection| %>
		<%= 
			render 	:partial => "collections/rec_collection_render", 
					:locals => {:collection => collection, :tree_depth => tree_depth, :parent_collection_id => collection.id, :project => project} 
		%>
	<% end %>
</div>
<div style="width: 700px; float: left">
	<%= render :partial => "documents/documents_datatable", 
				:locals => {:collection => root_collections.first} %>
</div>