<div class="hero-unit">
	<h2>Listing collections</h2>
	
	<% @root_collections.each do |collection| %>
		<%= render :partial => "collection_new", :locals => {:collection => collection} %>
	<% end %>
	
	<br />
	
	<%= link_to 'New Collection', new_collection_path %>
</div>
