<p>Metaforms provides users a way to quickly add metadata to uploaded files.  Users first create a metaform and give it a name and a description.  Next users add metadata in pairs of labels and values.  Every metadata pair MUST have a label but values can be blank (for cases where the value may change often and needs to be filled manually).  Once the metadata has been added and saved users can sort metadata in whatever order they wish.</p>
<%= image_tag("Metaform_EditMenu.jpg") %>

<p>After the metaform has been created users can apply the metadata by going to a document and selecting the metaform from a drop down.  This takes the user to confirmation page where the user can check and make sure the metadata is correct or fill in any missing values.  Alternatively users can add a metaform to every document in a collection by going to a collection’s edit menu (NOTE: this may take time if the documents are larg).</p>


<%= image_tag("Metaform_Confirmation.jpg") %>
