<p class="mrow">
  <%= f.label :key, "Label" %>
  <%= f.text_field :key, :readonly => true, :id => "mf_textarea" %>
  
  <%= f.label :value, "Value" %>
  <%= f.text_area :value, :rows => 1, :id => "mf_textarea" %>
  <!--<%#= f.text_field :value %> -->
</p>
