<div class="hero-unit">
  
  <h1>Edit metaform</h1>
  
  <button id="mf_edit_help" class="btn btn-info btn-small" title="Help">Help</button>
    <div id="mf_popup" hidden>
      <ul>
        <li>Click and drag the arrow in the bottom right of a form to expand.</li>
        <li>For more help go to: <%= link_to "Metaforms", metaforms_path %> and click
            "See Metaform Info". </li>
      </ul>
    </div>

  <%= render 'form' %>

  <%= link_to 'Show', @metaform, class: "btn" %>
  <%= link_to 'Back', metaforms_path, class: "btn" %>
</div>
