
<h1><%= @current_user.email %>'s Documents</h>

<hr/>

<% @tree.each do |collection| %>
    <div class="row span12">
        <h2><%= collection[:collection].name %> (collection)</h2>
        <% collection[:documents].each do |document| %>
            <div class="row span12">
                <h3><%= document[:document].name %> (document)</h3>
                <% document[:charts].each do |chart| %>
                    <div class="row span12">
                        <p>
                            <%= link_to chart.title, chart_path(:id => chart.id) %> (chart)
                        </p>
                    </div>
                <% end %>
            </div>
        <% end %>
        <hr/>
    </div>
<% end %>

    </div>
