<!--
 <p><canvas id="myCanvas" width="350" height="250">Your browser does not have 
    support for Canvas. You should see something like the following image: <img 
    src="example-drawimage.jpg"
    alt="Example rendering of drawImage."></canvas></p>
-->

 <canvas id="canvas1" width="300" height="300">
        Your web-browser does not support the HTML 5 canvas element.
    </canvas>