<p>Managing big processes in Hatch is done with <%= link_to "Jobs", jobs_path %>. Jobs allow users to see which processes are currently being worked on, and which are done. The heavy lifting in Hatch is done for users with Jobs.</p>

<p>The Jobs interface looks like the following:</p>

<%= image_tag "jobs_demo.png" %>

<p><%= link_to "Go to Jobs...", jobs_path %></p>