<div class="hero-unit">
<h1>Analysis</h1>
<p><span class="label label-warning">In Development</span></p>
<hr />

<p>The Hatch Analysis pipeline allows users to submit compute jobs directly to cloud compute clusters, without having to worry about needing to syncronize their data. It also creates an easy interface to start and monitor their compute jobs, and get notifications and see results when computation is finished.</p>

</div>