<div class="hero-unit">
<h1>Hatch Demo</h1>
<p><span class="label label-info">This will be awesome!</span></p>
<hr />

<p>Hatch has a lot of documentation, but a good old demo is the best way to highlight the features and use cases we want to show.</p>

<%= render :partial => "job_demo" %>

</div>