<div class="hero-unit">
    <h1>Hatch</h1>
    <p>The EcoData Hatch project gives scientific data management a simple web-based interface and simplifies data analysis.</p>
    <p><small><strong>Sponsored by</strong> Alex Fremier, College of Natural Resources, University of Idaho.
    <br>
    <strong>Developed by</strong> Shane Smith, Colby Blair, and Mike Solomon.</small></p>
</div>
<div class="well">
      More information about Hatch is available at the <a href="http://seniordesign.engr.uidaho.edu/2011-2012/EcoData/">project website</a>.
</div>
