<div class="container">
<div class="hero-unit">
    <h1>Hatch</h1>
    <p>The EcoData Hatch project gives scientific data management a simple web-based interface and simplifies data analysis.</p>
    <p><small><strong>Sponsored by</strong> Alex Fremier, College of Natural Resources, University of Idaho.
    <br>
    <strong>Developed by</strong> Mike Solomon and Colby Blair</small></p>
  </div>

</div>
