<h3>Documents</h3>
<table class="documents_datatable" class="display" data-source="<%= documents_url(format: "json") %>" data-collection-id="<%= collection.id %>">
  <thead>
    <tr>
      <th>Document Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>