<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="pretty">
  <tr>
    <th>Name</th>
  </tr>
  <% for document in @documents %>
    <tr>
      <% if can? :read, document %>
        <td><%= document.name %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<%= will_paginate @documents %>
