<div class="container-fluid well" style="background-color: #dfdfdf;">
    <div class="container-fluid well" style="background-color: #f5f5f5;">
    <div class="hero-unit">
      <h1>Editing document</h1>

      <p>
        <b>Owner:</b>
        <% if @document.user %>
          <%= @document.user.email %> 
        <% end %>
      </p>

      <%= render 'form' %>

      <%= link_to 'Show', @document, class: "btn" %>
      <%= link_to 'Back', @document.collection, class: "btn" %>
    </div>
  </div>
</div>
