<div class="hero-unit">

  <!-- Document Menu -->
  <%= render "doc_menu" %>

  <hr/>
  
  <!-- Document Metadata -->
  <%= render "doc_metadata" %>

  <hr />
  
  <%= link_to "Show Data", show_data_path %>

</div>
