<div class="hero-unit">

  <!-- Document Menu -->
  <%= render "doc_menu" %>

  <hr/>
  
  <!-- Document Metadata -->
  <%= render "doc_metadata" %>

  <hr />
  <% if can? :show_data, @document %>
    <%= link_to "Show Data", show_data_path %>
  <% end %> <!-- CanCan -->

</div>
