<p>Projects assist with document/collection management and access control.  Users can create, name, and describe a project as they wish.  Owners can add collections (sets of documents) relevant to the project from the collection’s edit menu.  Owners can share or hide their data, making it public or keeping it private, at the click of a button.</p>
<%= image_tag("ProjImg.jpg") %>

<p>Project owners can give specific Hatch users, called collaborators, the ability to view their data by adding them from the project edit menu.  Collaborators can look at a project and its data but can’t change anything.</p>

<p>Current access control settings include;</p>
<ul>
  <li>Private: only the owner can access data.</li>
  <li>Public: all data in a project is viewable (but only viewable) by any user of Hatch.</li>
  <li>Collaborators: determine specific users who have view only access.</li>
</ul>
<%= image_tag("ProjEdit.jpg") %>