<p id="notice"><%= notice %></p>

<p>Page deprecated, you shouldn't be here!'</p>

<p>
  <% if (@user_list.length == 0) %>
    <P><b>Email not found, please try again.</b></p>
  <% else %>
    <% @user_list.each do |u| %>
      <p>Owner of project changed to <b><%= u.email %><b></p>
    <% end %>
  <% end %>
</p>

<%= link_to 'Back', projects_path %>
