<iframe width="420" height="315" src="//www.youtube.com/embed/pKQaTZ0pSXQ" frameborder="0" allowfullscreen></iframe>

<hr />

<button href="#" data-dropdown="drop-ifilter-demo" aria-controls="drop-ifilter-demo" aria-expanded="false" class="button dropdown">Download</button><br>
<ul id="drop-ifilter-demo" data-dropdown-content class="f-dropdown" aria-hidden="true">
    <li><%= link_to "Download Powerpoint", "/data/ifilters_presentation.ppt" %></li>
    <li><%= link_to "Download PDF", "/data/ifilters_presentation.pdf" %></li>
</ul>
