// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#metadata_table
{
  table-layout:fixed;
  word-wrap:break-word;
  color:black;
}

#metadata_table input //input form
{
  width: 98%;
}

.del_btn
{
  width:100%;
}
