// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feature_head
{
  text-indent: 25px;
}

.indent_b
{
  padding-left:50px;
}

.indent_c
{
  padding-left:25px;
}

#hatch_logo
{
  float: right;
}
